<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - last_fm_not_mine_alert_razor</title>
</head>
<body>
    <ul>
        <li><a asp-page="/Index">Home</a></li>
        <li><a asp-page="/About">About</a></li>
    </ul>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - last_fm_not_mine_alert_razor</p>
        </footer>
    </div>

    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
