@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>Aenean et velit et ante hendrerit molestie at vitae massa. Vestibulum dictum nunc lectus,
    vitae imperdiet lacus viverra in. Mauris eget egestas risus. Nam scelerisque diam eget 
    mollis tempus. Morbi vitae blandit dolor, non varius tortor. Maecenas sed finibus urna, 
    non gravida massa. Quisque aliquam, ipsum posuere maximus blandit, enim dolor consectetur 
    ligula, sed varius orci massa nec nunc. Fusce ut nibh non magna finibus aliquam nec vel arcu.</p>

<p>Maecenas accumsan dictum iaculis. Mauris eget tortor purus. Praesent justo lacus, 
    vehicula eu consectetur non, elementum sit amet lorem. Sed vel enim vel nulla 
    hendrerit facilisis vehicula a nulla. Vivamus tincidunt velit a elementum facilisis. 
    Vestibulum rhoncus facilisis ultrices. Vivamus nunc urna, placerat eu finibus vel, 
    tincidunt et nulla. Vivamus eu imperdiet erat, at facilisis nisi. Sed congue ut dui 
    vel hendrerit. Etiam fermentum arcu quis sapien vulputate scelerisque.</p>
