@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>This template consists of a single content page (<i>Index</i>) with layout and error pages.</p>

<p>It was created by manually stripping down the project generated with command <i>dotnet new razor</i>.</p>

<p>For more information, check the <a href="https://github.com/chopeen/minimal-razor">project repository</a> at GitHub.</p>

<!--
    TODO: Modify the information here to explain the new page(s)

    TODO: Add this information to README

    TODO: Update the screenshot
-->
