@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>@ViewData["Title"]</h2>
<h3>Lorem Ipsum</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam egestas ligula vitae nibh fermentum egestas. 
    Nulla ornare tempus maximus. Fusce luctus massa at scelerisque dignissim. Duis hendrerit sit amet mi sit 
    amet mollis. Pellentesque vel dignissim justo. Vestibulum vitae suscipit eros. Nulla vitae lobortis est. 
    Sed rutrum, tellus non pharetra semper, nunc libero hendrerit sapien, et iaculis urna mi at nulla. 
    In hac habitasse platea dictumst.</p>

<p>Praesent quam tortor, ornare sed iaculis sit amet, condimentum vitae tellus. Nullam urna ex, accumsan nec 
    odio ac, dictum mollis massa. Phasellus nec dui posuere, molestie dolor quis, faucibus ipsum. Ut tincidunt 
    ultricies enim sed tincidunt. Mauris in eros elit. Nam nec leo nisl. Vivamus rutrum urna maximus, maximus
    elit ac, tincidunt lorem.</p>
