@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h2>Index.cshtml file</h2>
    <p>
        There are powerful new features in Visual Studio for building modern web apps.
        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
            Learn More
        </a>
    </p>
</div>
