@page
@model PageWithConfig

<h2>Configuration</h2>
<h3>A minimal page with configuration injected into the model</h3>

<p>TODO: display some config value here</p>

<p>For more information, check the <a href="https://github.com/chopeen/minimal-razor">project repository</a> at GitHub.</p>
