@page
@model PageWithConfig

<h2>Configuration</h2>
<h3>A minimal page with configuration injected into the model</h3>

<p>This application uses <b>@Model.Configuration["ASPNETCORE_ENVIRONMENT"]</b> environment and it is available at <b>@Model.Configuration["ASPNETCORE_URLS"]</b>.</p>

<p>For more information, check the <a href="https://github.com/chopeen/minimal-razor">project repository</a> at GitHub.</p>
